<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </head>
  <body>
    <h1>Plants Show Page</h1>

    <h3>Plant Name: <%= plant.name %></h3>
    <h4>Plant Color: <%= plant.color %></h4>

    <% if(plant.sunnySpot === true) {%>
      <span>Give It Some Sunshine</span>
    <%} else {%>
      <span>Give It Some Shade</span>
    <% } %>
  </body>
</html>
